@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .normal-max-w {
    width: 1050px;
  }

  .max-h-half {
    max-height: 50vh;
  }

  .page-card {
    @apply border-solid border border-gray-700 py-2 px-2 mt-12 flex flex-col items-center mx-2;
    border-radius: 1rem;
  }

  .page-card-no-border {
    @apply py-2 mt-12 flex flex-col items-center mx-2;
  }

  .px-3-5 {
    padding-right: 0.875rem;
    padding-left: 0.875rem;
  }

  .modal-lg {
    @apply shadow-xl;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 500px;
    border: 1px solid #ccc;
    padding: 16px;
    left: calc(50% - 250px);
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }

  .box {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .box:first-child > span {
    margin-right: auto;
  }

  .box:last-child > span {
    margin-left: auto;
  }
}

body {
  @apply box-content;
  font-family: 'Quicksand', sans-serif;
}

button:focus {
  outline: 0;
}

.border-left {
  border-left: 1px solid;
}

.bubble {
  @apply border-solid border border-gray-700 py-2 px-2;
  border-radius: 1rem;
}

.bubble-lg {
  @apply border-solid border border-gray-700 py-2 px-2 text-2xl;
  border-radius: 1rem;
}

.bubble-lg:hover {
  @apply bg-gray-700 text-white transition duration-300;
}

.bubble-hover {
  @apply bg-gray-700 text-white transition duration-300;
}

.btn {
  @apply bubble;
}

.btn:hover {
  @apply bubble-hover;
}

.btn-alt {
  @apply py-2 px-2;
}

.btn-alt:hover {
  @apply bubble-hover;
  border-radius: 1rem;
}

.btn-alt-2 {
  @apply bubble bg-gray-600 text-white py-2 px-2;
}

.btn-alt-2:hover {
  @apply bg-white text-gray-600 transition duration-300;
}

.btn-alt-del {
  @apply py-2 px-2 text-red-500;
}

.btn-alt-del:hover {
  @apply bg-red-500 text-white;
  border-radius: 1rem;
}

.btn-submitting {
  @apply bg-gray-500 text-white;
}

.form-label {
}

.form-input-disabled {
  @apply text-gray-600 border-none max-w-sm w-5/6 px-2 py-2;
}

.form-input {
  @apply bubble max-w-sm w-5/6;
}

.form-input:focus {
  outline: none;
}

.form-input-error {
  @apply bubble border-red-500 max-w-sm w-5/6;
}

.form-input-error {
  outline: none;
}

.nav {
  @apply bg-gray-600 h-16 w-full flex justify-center;
}

.nav-btn {
  @apply m-2 text-white text-xl p-2;
}

.nav-btn:hover {
  border-top: 2px solid white;
}

.modal {
  @apply shadow-xl;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 90%;
  border: 1px solid #ccc;
  padding: 16px;
  left: 5%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.big-btn {
  @apply bg-gray-600 text-white text-2xl px-4 py-2;
  border-radius: 1rem;
  margin-top: 2px;
}

.big-btn:hover {
  @apply text-gray-700 bg-white border-gray-700 border transition duration-300;
  margin-top: 0;
}

.footer {
  position: absolute;
  bottom: 0;
}

.line {
  width: 30px;
  height: 3px;
  margin: 5px;
  @apply bg-gray-600;
}

.hamburger {
  cursor: pointer;
  @apply rounded-full bg-white py-2 px-1;
}
