@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .normal-max-w {
    width: 1050px;
  }
}

body {
  @apply box-content;
  font-family: 'Quicksand', sans-serif;
}

button:focus {
  outline: 0;
}

.bubble {
  @apply border-solid border border-gray-700 py-2 px-2;
  border-radius: 1rem;
}

.bubble-lg {
  @apply border-solid border border-gray-700 py-2 px-2 text-2xl;
  border-radius: 1rem;
}

.bubble-lg:hover {
  @apply bg-gray-700 text-white transition duration-300;
}

.bubble-hover {
  @apply bg-gray-700 text-white transition duration-300;
}

.btn {
  @apply bubble;
}

.btn:hover {
  @apply bubble-hover;
}

.btn-alt {
  @apply py-2 px-2;
}

.btn-alt:hover {
  @apply bubble-hover;
  border-radius: 1rem;
}

.btn-submitting {
  @apply bg-gray-500 text-white;
}

.form-label {
}

.form-input {
  @apply bubble max-w-sm w-5/6;
}

.form-input:focus {
  outline: none;
}

.form-input-error {
  @apply bubble border-red-500 max-w-sm w-5/6;
}

.form-input-error {
  outline: none;
}

.nav {
  @apply flex justify-between px-1 py-1;
}

.nav-btn {
  @apply bubble text-lg;
}

.nav-btn:hover {
  @apply bubble-hover;
}
